body {
font-family: Arial, sans-serif;
background-color: #eef2f3;
margin: 0;
}

header {
background-color: #0077b6;
color: white;
text-align: center;
padding: 20px;
}


main {
max-width: 900px;
margin: auto;
background: white;
padding: 20px;
}


img {
width: 100%;
border-radius: 10px;
}


h2 {
color: #0077b6;
}


ul {
padding-left: 20px;
}